body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.click {
  opacity: 0;
  position: absolute;
  border: 0;
  width: 100%;
  height: 100%;
}

h1 {
  user-select: none;
  font-size: 0px;
  color: rgb(100, 100, 100);
  font-family: "Quicksand", sans-serif;
  padding-left: 10px;
}

.counter {
  display: flex;
  align-items: center;
}
